<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ugshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UGShop">
        <activity android:name=".view.AddDeliveryAddressActivity" />
        <activity android:name=".view.MainMyAccountActivity" />
        <activity android:name=".view.HomePage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Home" />
        <activity android:name=".view.MyCartEmpty" />
        <activity android:name=".view.ChangePassword" />
        <activity android:name=".view.AddDeliveryAddresss"/>
        <activity android:name=".view.DeactivateAccount" />
        <activity android:name=".view.AccountSetting" />
        <activity android:name=".view.MyAccountMain" />
        <activity android:name=".view.ActivityBottomNavigation" />
        <activity
            android:name=".view.IntroductoryActivity"
            android:theme="@style/Theme.UGShop.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.UGShop.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>